.card{
	
	display: inline-block;
	box-sizing: border-box;
	padding: 16px;
	width: 25%;
	position: relative;
	margin-top: 40px;

}


.card-options	{
	width: 32px;
	height: 32px;
	text-indent: -999px;
	overflow: hidden;
	border-radius: 50%;
	border: solid 2px rgba(0, 0, 0, 0.5);
	display: inline-block;
	box-sizing: border-box;
	
}

.card-options.isActive {
	border: 4px solid rgba(0, 0, 0, 0.5);
}


.wrap-card-colors{
	position: absolute;
	top: -16px;
}



.card_colorFirst	{
	background-color: #45AAEE;
}

.card_colorSecond	{
	background-color: #FF1010;
}

.card_colorThird	{
	background-color: #76EF40;
}

.card_colorFourth	{
	background-color: #EBEF40;
}



[data-color="first"]{
	background-color:#45AAEE;
}

[data-color="second"]{
	background-color:#FF1010;
}

[data-color="third"]{
	background-color:#76EF40;
}

[data-color="fourth"]{
	background-color:#EBEF40;
}


