.topo{
	background-color:#0082C7;
	height: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	
}

.topo-title{
	color: #B3DAEE;
	display:inline;
	vertical-align: middle;
}


.topo-menu{
	float:right;
}

.topo-button:first-child{
	margin-right: 15px;
}

.topo-button{
	background-color: #006195;
	font-size: 16px;
	color: #fff;
	box-sizing: content-box;
	height: 22px;
	margin: 8px;
	display: inline-block;
	padding:4px
} 












