.topo{
	background-color:#0082C7;
	height: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 40px;
}

.topo-title{
	display:inline;
	vertical-align: center;
}

.topo-title h1{ 
	color: #B3DAEE;
}

.topo-menu{
	float:right;
}

.topo-button:first-child{
	margin-left: 15px;
}

.topo-button{
	background-color: #006195;
	font-size: 16px;
	color: #ffffff;
	box-sizing: border-box;
	height: 22px;
	margin: 8px;
	display: inline;
} 












