[data-color="first"]{
	background-color: #EBEF40;
}

[data-color="second"]{
	background-color: #FF1010;
}

[data-color="third"]{
	background-color: #76EF40;

}

[data-color="fourth"]{
	background-color: #45AAEE;
}


.card-options.isActive{
	border-width:4px;
}


.card{
	display: inline-block;
	box-sizing: border-box;
	padding: 16px;
	width: 25%;
	position: relative;
}


.card-options{
	text-indent: -999;
	border-radius: 50%;
	display:inline-block;
	width: 32px;
	height: 32px;
	border: solid 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	box-sizing: border-box;

}

.card-delete{
	background-image: url('../imagens/delete.svg');
	background-size: 70%;
	background-color: #FFF;
	background-position: center;
	background-repeat: no-repeat;
}


.card-colors{
	display: inline-block;
}

.wrap-card-options{
	position: absolute;
	top: -16px;
	left: 0;

}

nav{
	margin-bottom:10px;
}


